---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Tag from "../lib/tags";

const projects = [
  {
    name: "Treasury Dashboard",
    description:
      "An internal web app for tracking a church's income, expenses and donations. It supports reporting, importing transactions from third party sources (ie. PayPal, CashApp), Emailing donors tax summaries, and more.",
    tags: [
      Tag.fsharp,
      Tag.dotnet,
      Tag.aspnetcore,
      Tag.sqlite,
      Tag.htmx,
      Tag.bulma,
      Tag.javascript,
    ],
    image: "https://placehold.co/800x600",
  },
  {
    name: "Twitch Chatbot",
    description:
      "A custom stream chatbot for a streamer with over 300k followers. Bot automates chat predictions and adds a visual slot machine game that can be played by viewers. Connects with Twitch and StreamElements API.",
    tags: [
      Tag.fsharp,
      Tag.dotnet,
      Tag.aspnetcore,
      Tag.signalr,
      Tag.sqlite,
      Tag.htmx,
      Tag.s3,
      Tag.fly,
    ],
    image: "https://placehold.co/800x480",
  },
  {
    name: "vgchan.org",
    description:
      "An imageboard focused on video games with admin features. Annoymous posts, automatic processing of image uploads (optimizing and resizing).",
    tags: [
      Tag.fsharp,
      Tag.dotnet,
      Tag.aspnetcore,
      Tag.postgresql,
      Tag.react,
      Tag.s3,
      Tag.sendgrid,
      Tag.bulma,
      Tag.digitalocean,
    ],
    image: "https://placehold.co/800x480",
    links: [
      {
        name: "View Website",
        href: "https://vgchan.org",
      },
    ],
  },
  {
    name: "philasdb.org",
    description:
      "A website for a local church with a live stream. Frontend is built with Astro and Tailwind CSS. The backend is a ASP.NET Core application that handles the live stream server.",
    tags: [
      Tag.typescript,
      Tag.astro,
      Tag.tailwind,
      Tag.react,
      Tag.dotnet,
      Tag.aspnetcore,
    ],
    image: "https://placehold.co/800x480",
    links: [
      {
        name: "View Website",
        href: "https://philasdb.org",
      },
      {
        name: "Source",
        href: "https://github.com/philasdb/website",
      },
    ],
  },
];
---

<Layout title="Projects">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
    {
      projects.map((project) => (
        <ProjectCard
          name={project.name}
          description={project.description}
          tags={project.tags}
          image={project.image}
          links={project.links}
        />
      ))
    }
  </div>
</Layout>
